h1 {
    font-family:$fuenteSitio;
    animation-delay: map-get($boton, delayAnimacion); 
    color: $colorNegro;
    animation: miTitulo;  
    
}
h2 h3 h4 {
    @extend h1;
}  
@keyframes miTitulo {
    0%{
        color: $colorNegro;
    }
    50%{
        color:$colorSecundario;
    }
    100%{
        color:$colorNegro;
    }
}