.textoCarousel{
    background-color:$colorAlternativoTransparente;
    left:45%;
    top: 35%;
    width: 650px;
    height: 350px;
}
.textoCarousel h1{
    font-size:30px;
}
.textoCarousel p{
    font-size: 18px;
}

.contenedor{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.card{
    margin: auto;
    border-radius: 6px;
    overflow: hidden; /*Elemento fuera del contenedor se oculte*/
    background-color: $colorBlanco;
    box-shadow: 0px 1px 10px rgba(0,0,0, 0.2); /*sombra entre gris claro a la tarjeta*/
    cursor:pointer; /*en el cursor aparece una mano indicadora*/
    transition: all 400ms ease; /*efecto suave dura 400ms, efecto ease para que no se vea tosco*/

}
.card:hover{
box-shadow: 5px 5px 20px rgba(0,0,0, 0.4); /*sombra más oscura cuando pasemos el cursor*/
transform: translateY(-3%); /*la tarjeta se traslada de manera vertical, es decir cuando pasemos el cursor va a tener ese efecto*/
}

@media (max-width:576px) {
    .textoCarousel{
        left:10%;
       top: 18%;
       width:350px;
       height:225px;
   }
   .textoCarousel h1{
       font-size:10px;
   }
   .textoCarousel p{
       font-size: 10px;
   }
   .btn{
       font-size: 10px;
   }    
}

@media (max-width:768px){
    .textoCarousel{
        left:15%;
       top: 18%;
       width:350px;
       height:225px;
   }
   .textoCarousel h1{
       font-size:10px;
   }
   .textoCarousel p{
       font-size: 10px;
   }
   .btn{
       font-size: 10px;
   }    
}


@media (max-width:1200px) {
    .textoCarousel{
         left:40%;
        top: 35%;
        width: 420px;
        height: 300px;
    }
    .textoCarousel h1{
        font-size:18px;
    }
    .textoCarousel p{
        font-size: 14px;
    }
    .btn{
        font-size: 14px;
    }    
}