.contenedor{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.card{
    margin: auto;
    border-radius: 6px;
    overflow: hidden; /*Elemento fuera del contenedor se oculte*/
    background-color: $colorBlanco;
    box-shadow: 0px 1px 10px rgba(0,0,0, 0.2); /*sombra entre gris claro a la tarjeta*/
    cursor:pointer; /*en el cursor aparece una mano indicadora*/
    transition: all 400ms ease; /*efecto suave dura 400ms, efecto ease para que no se vea tosco*/
}
.card:hover{
box-shadow: 5px 5px 20px rgba(0,0,0, 0.4); /*sombra más oscura cuando pasemos el cursor*/
transform: translateY(-3%); /*la tarjeta se traslada de manera vertical, es decir cuando pasemos el cursor va a tener ese efecto*/
}
#tarjeta{
    margin-top: 20px;
}
